<div class="panel panel-default">
	<div class="panel-body">
		<div class="row">
			<div class="col-md-8 text-left">
			 <i class="fa fa-home" aria-hidden="true"></i>
				&nbsp;
			  <a href="/">Home</a></div>
					
			<div class="col-md-8 text-left">
			 <i class="fa fa-users" aria-hidden"true"></i>
				&nbsp;
			  <a href="/compare">Compare Teams</a>
			</div>

			<div class="col-md-8 text-left">
			<i class="fa fa-bullhorn" aria-hidden="true"></i>
				&nbsp;
			<a href="/openvoting">Open Voting Lines</a>
			</div>
		</div>
	</div>
</div>
	
